@import "tailwindcss";
/* Fonts */
@import "@fontsource-variable/albert-sans";
/* Skeleton */
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/concord";

@custom-variant dark (&:where(.dark, .dark *));

/* Globals */

body {
  overflow-x: hidden;
}

/* Skeleton Overrides */

[data-theme="concord"] {
  --heading-font-family: "Albert Sans Variable", sans-serif;
  --base-font-family: "Albert Sans Variable", sans-serif;
  --base-font-weight: 300;
}

.btn {
  font-weight: bold;
  border-radius: 0px;
  border-top-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-lg);
  corner-shape: bevel;
}

/* Animation: Glitchy Text */
/* Reference: https://codepen.io/cbanlawi/pen/xxRBeMY */

.glitch-container {
  color: white;
  display: flex;
  justify-items: center;
}

.glitch {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow:
    0.05em 0 0 var(--color-tertiary-500),
    -0.03em -0.04em 0 var(--color-secondary-500),
    0.025em 0.04em 0 var(--color-warning-500);
  animation: glitch 1.5s infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 1000ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 750ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow:
      0.05em 0 0 var(--color-tertiary-500),
      -0.03em -0.04em 0 var(--color-secondary-500),
      0.025em 0.04em 0 var(--color-warning-500);
  }
  15% {
    text-shadow:
      0.05em 0 0 var(--color-tertiary-500),
      -0.03em -0.04em 0 var(--color-secondary-500),
      0.025em 0.04em 0 var(--color-warning-500);
  }
  16% {
    text-shadow:
      -0.05em -0.025em 0 var(--color-tertiary-500),
      0.025em 0.035em 0 var(--color-secondary-500),
      -0.05em -0.05em 0 var(--color-warning-500);
  }
  49% {
    text-shadow:
      -0.05em -0.025em 0 var(--color-tertiary-500),
      0.025em 0.035em 0 var(--color-secondary-500),
      -0.05em -0.05em 0 var(--color-warning-500);
  }
  50% {
    text-shadow:
      0.05em 0.035em 0 var(--color-tertiary-500),
      0.03em 0 0 var(--color-secondary-500),
      0 -0.04em 0 var(--color-warning-500);
  }
  99% {
    text-shadow:
      0.05em 0.035em 0 var(--color-tertiary-500),
      0.03em 0 0 var(--color-secondary-500),
      0 -0.04em 0 var(--color-warning-500);
  }
  100% {
    text-shadow:
      -0.05em 0 0 var(--color-tertiary-500),
      -0.025em -0.04em 0 var(--color-secondary-500),
      -0.04em -0.025em 0 var(--color-warning-500);
  }
}
