[data-theme="cyberpunk"] {
  --text-scaling: 1;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: oklch(1 0 0 / 1);
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-surface-950);
  --anchor-font-color-dark: var(--color-secondary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.125rem;
  --radius-container: 0.25rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: oklch(1 0 0 / 1);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(84.98% 0.08 14.31deg);
  --color-primary-100: oklch(79% 0.11 13.44deg);
  --color-primary-200: oklch(73.41% 0.13 14.04deg);
  --color-primary-300: oklch(68.01% 0.16 14.88deg);
  --color-primary-400: oklch(63.25% 0.18 16.78deg);
  --color-primary-500: oklch(59.08% 0.2 19.2deg);
  --color-primary-600: oklch(55.05% 0.19 19.4deg);
  --color-primary-700: oklch(50.94% 0.17 20.11deg);
  --color-primary-800: oklch(47.07% 0.15 21deg);
  --color-primary-900: oklch(42.85% 0.13 22.43deg);
  --color-primary-950: oklch(38.59% 0.11 23.95deg);
  --color-primary-contrast-dark: oklch(0 0 0 / 1);
  --color-primary-contrast-light: oklch(1 0 0 / 1);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(98.06% 0.11 108.24deg);
  --color-secondary-100: oklch(96.56% 0.14 106.51deg);
  --color-secondary-200: oklch(95.17% 0.16 105.35deg);
  --color-secondary-300: oklch(93.7% 0.18 103.86deg);
  --color-secondary-400: oklch(92.54% 0.19 102.61deg);
  --color-secondary-500: oklch(91.48% 0.19 101.02deg);
  --color-secondary-600: oklch(84.83% 0.18 100.81deg);
  --color-secondary-700: oklch(78.18% 0.16 101.4deg);
  --color-secondary-800: oklch(71.28% 0.14 100.99deg);
  --color-secondary-900: oklch(64.37% 0.12 101.46deg);
  --color-secondary-950: oklch(57.18% 0.1 100.2deg);
  --color-secondary-contrast-dark: oklch(0 0 0 / 1);
  --color-secondary-contrast-light: oklch(1 0 0 / 1);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-700: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-800: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-900: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-950: var(--color-secondary-contrast-dark);
  --color-tertiary-50: oklch(94.71% 0.08 195.86deg);
  --color-tertiary-100: oklch(88.92% 0.1 191.44deg);
  --color-tertiary-200: oklch(83.25% 0.11 188.64deg);
  --color-tertiary-300: oklch(77.77% 0.12 185.37deg);
  --color-tertiary-400: oklch(72.52% 0.12 182.69deg);
  --color-tertiary-500: oklch(67.5% 0.12 178.87deg);
  --color-tertiary-600: oklch(62.07% 0.11 179.3deg);
  --color-tertiary-700: oklch(56.52% 0.1 179.83deg);
  --color-tertiary-800: oklch(51.1% 0.09 178.68deg);
  --color-tertiary-900: oklch(45.32% 0.08 179.1deg);
  --color-tertiary-950: oklch(39.42% 0.06 179.45deg);
  --color-tertiary-contrast-dark: oklch(0 0 0 / 1);
  --color-tertiary-contrast-light: oklch(1 0 0 / 1);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(93.26% 0.1 160.89deg);
  --color-success-100: oklch(90.62% 0.12 157.96deg);
  --color-success-200: oklch(88.09% 0.14 155.44deg);
  --color-success-300: oklch(85.82% 0.16 153.06deg);
  --color-success-400: oklch(83.44% 0.17 151.32deg);
  --color-success-500: oklch(81.13% 0.19 149.86deg);
  --color-success-600: oklch(72.47% 0.16 150.18deg);
  --color-success-700: oklch(63.82% 0.14 150.82deg);
  --color-success-800: oklch(54.56% 0.12 151.75deg);
  --color-success-900: oklch(45.24% 0.09 153.47deg);
  --color-success-950: oklch(35.11% 0.06 156.72deg);
  --color-success-contrast-dark: oklch(0 0 0 / 1);
  --color-success-contrast-light: oklch(1 0 0 / 1);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-dark);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(95.67% 0.05 84.56deg);
  --color-warning-100: oklch(93.48% 0.06 88.6deg);
  --color-warning-200: oklch(91.33% 0.08 90.79deg);
  --color-warning-300: oklch(89.32% 0.1 93.56deg);
  --color-warning-400: oklch(87.24% 0.12 94.15deg);
  --color-warning-500: oklch(85.2% 0.13 94.41deg);
  --color-warning-600: oklch(81.11% 0.13 93.21deg);
  --color-warning-700: oklch(77.28% 0.13 92.03deg);
  --color-warning-800: oklch(73.12% 0.13 90.45deg);
  --color-warning-900: oklch(69.22% 0.13 88.9deg);
  --color-warning-950: oklch(64.98% 0.13 86.86deg);
  --color-warning-contrast-dark: oklch(0 0 0 / 1);
  --color-warning-contrast-light: oklch(1 0 0 / 1);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(89.99% 0.04 14.04deg);
  --color-error-100: oklch(83.66% 0.08 5.64deg);
  --color-error-200: oklch(77.72% 0.12 3.84deg);
  --color-error-300: oklch(72.43% 0.16 4.8deg);
  --color-error-400: oklch(67.84% 0.19 6.21deg);
  --color-error-500: oklch(64.28% 0.22 8.79deg);
  --color-error-600: oklch(60.1% 0.21 7.16deg);
  --color-error-700: oklch(55.85% 0.21 5.32deg);
  --color-error-800: oklch(51.69% 0.2 3.03deg);
  --color-error-900: oklch(47.49% 0.19 0.95deg);
  --color-error-950: oklch(43.27% 0.18 358.61deg);
  --color-error-contrast-dark: oklch(0 0 0 / 1);
  --color-error-contrast-light: oklch(1 0 0 / 1);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(88.64% 0.02 333.6deg);
  --color-surface-100: oklch(82.26% 0.03 333.89deg);
  --color-surface-200: oklch(75.86% 0.03 335.59deg);
  --color-surface-300: oklch(69.09% 0.04 333.82deg);
  --color-surface-400: oklch(62.46% 0.05 335.25deg);
  --color-surface-500: oklch(55.58% 0.06 335.62deg);
  --color-surface-600: oklch(51.54% 0.06 335.07deg);
  --color-surface-700: oklch(47.43% 0.06 334.47deg);
  --color-surface-800: oklch(43.5% 0.05 336.54deg);
  --color-surface-900: oklch(39.2% 0.05 335.95deg);
  --color-surface-950: oklch(34.78% 0.05 335.29deg);
  --color-surface-contrast-dark: oklch(0 0 0 / 1);
  --color-surface-contrast-light: oklch(1 0 0 / 1);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
