[data-theme="cyberpunk"] {
  --text-scaling: 1;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: oklch(1 0 0 / 1);
  --heading-font-family: "Orbitron Variable", sans-serif;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-surface-950);
  --anchor-font-color-dark: var(--color-secondary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.125rem;
  --radius-container: 0.25rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: oklch(1 0 0 / 1);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(85.08% 0.08 14.1deg);
  --color-primary-100: oklch(79.24% 0.11 13.83deg);
  --color-primary-200: oklch(73.61% 0.13 14.28deg);
  --color-primary-300: oklch(68.16% 0.16 14.99deg);
  --color-primary-400: oklch(63.33% 0.18 16.79deg);
  --color-primary-500: oklch(59.17% 0.2 19.29deg);
  --color-primary-600: oklch(55.14% 0.18 19.93deg);
  --color-primary-700: oklch(51.24% 0.17 20.43deg);
  --color-primary-800: oklch(46.99% 0.15 21.22deg);
  --color-primary-900: oklch(42.98% 0.13 22.25deg);
  --color-primary-950: oklch(38.72% 0.11 24.49deg);
  --color-primary-contrast-dark: oklch(0% 0 none);
  --color-primary-contrast-light: oklch(100% 0 none);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(98.04% 0.11 108.26deg);
  --color-secondary-100: oklch(96.56% 0.14 106.51deg);
  --color-secondary-200: oklch(95.2% 0.16 105.26deg);
  --color-secondary-300: oklch(93.73% 0.18 103.76deg);
  --color-secondary-400: oklch(92.56% 0.19 102.51deg);
  --color-secondary-500: oklch(91.48% 0.19 100.97deg);
  --color-secondary-600: oklch(84.84% 0.17 100.75deg);
  --color-secondary-700: oklch(78.28% 0.16 100.93deg);
  --color-secondary-800: oklch(71.28% 0.14 100.99deg);
  --color-secondary-900: oklch(64.44% 0.12 101.03deg);
  --color-secondary-950: oklch(57.23% 0.1 99.95deg);
  --color-secondary-contrast-dark: oklch(0% 0 none);
  --color-secondary-contrast-light: oklch(100% 0 none);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-700: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-800: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-900: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-950: var(--color-secondary-contrast-dark);
  --color-tertiary-50: oklch(94.71% 0.08 195.86deg);
  --color-tertiary-100: oklch(89.1% 0.09 191.35deg);
  --color-tertiary-200: oklch(83.58% 0.1 188.37deg);
  --color-tertiary-300: oklch(77.88% 0.11 185.59deg);
  --color-tertiary-400: oklch(72.57% 0.12 182.84deg);
  --color-tertiary-500: oklch(67.4% 0.12 179.13deg);
  --color-tertiary-600: oklch(61.97% 0.11 179.59deg);
  --color-tertiary-700: oklch(56.69% 0.1 179.44deg);
  --color-tertiary-800: oklch(51% 0.09 179.04deg);
  --color-tertiary-900: oklch(45.47% 0.07 178.61deg);
  --color-tertiary-950: oklch(39.54% 0.06 178.97deg);
  --color-tertiary-contrast-dark: oklch(0% 0 none);
  --color-tertiary-contrast-light: oklch(100% 0 none);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(93.27% 0.1 160.76deg);
  --color-success-100: oklch(90.54% 0.12 157.54deg);
  --color-success-200: oklch(88.14% 0.14 155.26deg);
  --color-success-300: oklch(85.61% 0.16 153.05deg);
  --color-success-400: oklch(83.41% 0.17 151.44deg);
  --color-success-500: oklch(81.06% 0.19 149.84deg);
  --color-success-600: oklch(72.41% 0.17 150.41deg);
  --color-success-700: oklch(63.74% 0.14 150.78deg);
  --color-success-800: oklch(54.52% 0.12 151.94deg);
  --color-success-900: oklch(45.18% 0.09 153.12deg);
  --color-success-950: oklch(35.07% 0.06 157.17deg);
  --color-success-contrast-dark: oklch(0% 0 none);
  --color-success-contrast-light: oklch(100% 0 none);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-dark);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(95.58% 0.05 86.88deg);
  --color-warning-100: oklch(93.42% 0.07 89.68deg);
  --color-warning-200: oklch(91.29% 0.08 91.3deg);
  --color-warning-300: oklch(89.31% 0.1 93.73deg);
  --color-warning-400: oklch(87.24% 0.12 94.15deg);
  --color-warning-500: oklch(85.21% 0.13 94.3deg);
  --color-warning-600: oklch(81.18% 0.13 92.93deg);
  --color-warning-700: oklch(77.23% 0.13 92.56deg);
  --color-warning-800: oklch(73.16% 0.13 90.74deg);
  --color-warning-900: oklch(69.16% 0.13 89.85deg);
  --color-warning-950: oklch(65.04% 0.13 87.27deg);
  --color-warning-contrast-dark: oklch(0% 0 none);
  --color-warning-contrast-light: oklch(100% 0 none);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-dark);
  --color-warning-contrast-900: var(--color-warning-contrast-dark);
  --color-warning-contrast-950: var(--color-warning-contrast-dark);
  --color-error-50: oklch(89.99% 0.04 14.04deg);
  --color-error-100: oklch(83.66% 0.08 5.64deg);
  --color-error-200: oklch(77.72% 0.12 3.84deg);
  --color-error-300: oklch(72.57% 0.16 5.09deg);
  --color-error-400: oklch(67.95% 0.19 6.41deg);
  --color-error-500: oklch(64.36% 0.22 8.91deg);
  --color-error-600: oklch(60.1% 0.21 7.16deg);
  --color-error-700: oklch(55.9% 0.2 5.42deg);
  --color-error-800: oklch(51.87% 0.2 3.25deg);
  --color-error-900: oklch(47.71% 0.19 1.25deg);
  --color-error-950: oklch(43.46% 0.18 358.9deg);
  --color-error-contrast-dark: oklch(0% 0 none);
  --color-error-contrast-light: oklch(100% 0 none);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-dark);
  --color-error-contrast-600: var(--color-error-contrast-dark);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(88.64% 0.02 333.6deg);
  --color-surface-100: oklch(82.26% 0.03 333.89deg);
  --color-surface-200: oklch(75.86% 0.03 335.59deg);
  --color-surface-300: oklch(69.09% 0.04 333.82deg);
  --color-surface-400: oklch(62.46% 0.05 335.25deg);
  --color-surface-500: oklch(55.58% 0.06 335.62deg);
  --color-surface-600: oklch(51.54% 0.06 335.07deg);
  --color-surface-700: oklch(47.43% 0.06 334.47deg);
  --color-surface-800: oklch(43.5% 0.05 336.54deg);
  --color-surface-900: oklch(39.2% 0.05 335.95deg);
  --color-surface-950: oklch(34.78% 0.05 335.29deg);
  --color-surface-contrast-dark: oklch(0% 0 none);
  --color-surface-contrast-light: oklch(100% 0 none);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
