---
import LayoutPage from "@layouts/LayoutPage.astro";
---

<LayoutPage title="Page Not Found | Endigo Design" noindex>
  <main class="p-4 py-24 md:py-32">
    <div class="container mx-auto flex flex-col items-center gap-6 text-center">
      <h1 class="h1">404</h1>
      <p class="text-xl text-balance">
        Sorry, the page you're looking for doesn't exist.
      </p>
      <a class="btn preset-filled" href="/">&larr; Return Home</a>
    </div>
  </main>
</LayoutPage>
