---

---

<header class="bg-tertiary p-4 md:p-6">
  <div class="container mx-auto flex justify-between items-center gap-4">
    <nav class="flex gap-4">
      <a class="anchor" href="/">GitHub</a>
      <a class="anchor" href="/">LinkedIn</a>
      <a class="anchor" href="/">Blog</a>
    </nav>
    <a class="btn" href="mailto:chris@skeleton.dev">Let's Talk</a>
  </div>
</header>
