---

---

<header class="bg-black/10 p-4 md:p-10">
  <div class="container mx-auto flex justify-between items-center gap-4">
    <nav class="flex gap-8">
      <a
        class="anchor"
        href="https://github.com/endigo9740"
        target="_blank"
        title="GitHub"
      >
        <i class="text-2xl fa-brands fa-github"></i>
      </a>
      <a
        class="anchor"
        href="https://www.linkedin.com/in/chris-simmons-8a523a23/"
        target="_blank"
        title="LinkedIn"
      >
        <i class="text-2xl fa-brands fa-linkedin"></i>
      </a>
      <a
        class="anchor"
        href="https://dev.to/endigo9740"
        target="_blank"
        title="Dev Blog"
      >
        <i class="text-2xl fa-brands fa-dev"></i>
      </a>
    </nav>
    <a
      href="https://github.com/endigo9740/endigo-design"
      class="anchor"
      target="_blank">GitHub Source Code</a
    >
  </div>
</header>
