---
const pathname = new URL(Astro.request.url).pathname;

const links = [
  { href: "/", label: "Works" },
  { href: "/about", label: "About" },
];
const linkActive =
  "underline decoration-4 decoration-primary-500 underline-offset-6";
const linkInactive = "hover:no-underline";

function setActiveClass(link: Record<string, string>) {
  return link.href === pathname ? linkActive : linkInactive;
}
---

<header class="sticky top-0 z-10 bg-surface-50-950/90 backdrop-blur-md p-4">
  <div
    class="container mx-auto grid grid-cols-[1fr_auto_1fr] gap-4 items-center"
  >
    <!-- Logo -->
    <a href="/" title="Endigo Design">
      <img class="w-12 anim-cube-spin" src="/logo.png" alt="Endigo Design" />
    </a>

    <!-- Navigation -->
    {
      pathname.includes("/works") ? (
        // Return Home
        <nav class="justify-self-center">
          <a class="font-bold hover:no-underline" href="/">
            &larr; Return Home
          </a>
        </nav>
      ) : (
        // Browse
        <nav class="flex gap-6 justify-self-center">
          {links.map((link) => (
            <a href={link.href} class={`font-bold ${setActiveClass(link)}`}>
              {link.label}
            </a>
          ))}
        </nav>
      )
    }

    <!-- Contact -->
    <a
      class="btn preset-filled justify-self-end"
      href="mailto:chris@skeleton.dev">Let's Talk</a
    >
  </div>
</header>
