---
interface Props {
  tag?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  class?: string;
}

const { tag = "h2", class: className } = Astro.props;
const Tag = tag;
---

<Tag class={`${tag} ${className ?? ""}`.trim()}>
  <span class="text-primary-500 font-bold">{"["}</span>
  <slot />
  <span class="text-primary-500 font-bold">{"]"}</span>
</Tag>
