/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { @apply w-full h-full; }
body {
    @apply bg-slate-900 text-white;
    /* CSS Mesh Gradient via https://csshero.org/mesher/ */
    background-attachment: fixed;
    background-size: cover;
    background-image:
        radial-gradient(at 63% 26%, hsla(173,80%,40%,0.31) 0px, transparent 50%),
        radial-gradient(at 80% 25%, hsla(188,94%,42%,0.08) 0px, transparent 50%),
        radial-gradient(at 45% 56%, hsla(188,94%,42%,0.19) 0px, transparent 50%),
        radial-gradient(at 29% 17%, hsla(314,81%,60%,0.24) 0px, transparent 50%),
        radial-gradient(at 25% 53%, hsla(264,58%,16%,0.27) 0px, transparent 50%);
}

pre { @apply bg-black/30 p-4; }
pre+pre { @apply mt-4; }

button, .btn { @apply text-white text-base font-bold p-2 text-center; }
    .btn-hollow { @apply bg-white/10 ring-2 ring-white/60 py-2 px-5 hover:bg-white/20 hover:ring-white shadow-xl rounded-sm whitespace-nowrap; }

select {
    @apply bg-white/10 ring-2 ring-white/60 p-2 hover:bg-white/20 hover:ring-white shadow-xl rounded-sm appearance-none;
}

/* TYPOGRAPHY --- */

/* Headings */
h1 { @apply text-4xl md:text-6xl font-bold; }
h2 { @apply text-3xl md:text-4xl font-bold; }
h3 { @apply text-2xl md:text-3xl font-bold; }
h4 { @apply text-xl md:text-2xl font-bold; }
h5 { @apply text-lg md:text-xl font-bold; }
h6 { @apply text-base md:text-lg font-bold; }

p { @apply text-white/70; }
p+p { @apply mt-4; }
a { @apply text-white/60 hover:text-white cursor-pointer; }

/* Classes --- */

.page {  @apply w-full h-full overflow-x-auto; }
.page-wrap { @apply w-full max-w-[1440px] mx-auto p-4; }

.section-label { @apply text-cyan-500 uppercase mb-10 border-b border-cyan-500; }

.crisp {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.shim { @apply fixed top-0 left-0 right-0 bottom-0 z-40 p-4 lg:p-8 flex justify-center items-center; }
.bg-glass { @apply bg-slate-900/[0.9] backdrop-blur-sm; }
.window { @apply border-2 border-black/30 rounded-xl shadow-2xl; }

/* --- Forms --- */

fieldset { @apply block; }

/* Inputs */
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"], 
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
    @apply w-full text-white bg-slate-900/[0.5] backdrop-blur-sm border-2 border-slate-700 rounded-lg shadow-lg focus:border-cyan-500 focus:ring-cyan-500;
}

/* Selectable */
[type="checkbox"],
[type="radio"] {
    @apply border-slate-500 rounded text-cyan-600 focus:ring-cyan-500;
}

/* Invalid - https://www.bram.us/2021/01/28/form-validation-you-want-notfocusinvalid-not-invalid/ */
input:not(:focus):not(:placeholder-shown):invalid {
    @apply bg-pink-300 border-pink-500;
}

/* Placeholders */
input::-moz-placeholder, textarea::-moz-placeholder { @apply text-slate-400; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { @apply text-slate-400; }
input::placeholder, textarea::placeholder { @apply text-slate-400; }

/* Labels */
label { @apply block overflow-visible; }
label span, legend { @apply block text-slate-700 dark:text-slate-300 text-sm mb-2; }

/* Animations --- */

.animFloat {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -15px); }
    100%   { transform: translate(0, 0px); }   
}

.animFloatSmall {
    animation-name: floatingSmall;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floatingSmall {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -5px); }
    100%   { transform: translate(0, 0px); }   
}