/* Endigo Design theme for Skeleton */

:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: system-ui;
	--theme-font-family-heading: system-ui;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 6px;
	--theme-rounded-container: 12px;
	--theme-border-base: 2px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 0 0 0;
	--on-secondary: 0 0 0;
	--on-tertiary: 0 0 0;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #ec4899 */
	--color-primary-50: 253 242 248; /* ⬅ #fdf2f8 */
	--color-primary-100: 252 231 243; /* ⬅ #fce7f3 */
	--color-primary-200: 251 207 232; /* ⬅ #fbcfe8 */
	--color-primary-300: 249 168 212; /* ⬅ #f9a8d4 */
	--color-primary-400: 244 114 182; /* ⬅ #f472b6 */
	--color-primary-500: 236 72 153; /* ⬅ #ec4899 */
	--color-primary-600: 219 39 119; /* ⬅ #db2777 */
	--color-primary-700: 190 24 93; /* ⬅ #be185d */
	--color-primary-800: 157 23 77; /* ⬅ #9d174d */
	--color-primary-900: 131 24 67; /* ⬅ #831843 */
	/* secondary | #06b6d4 */
	--color-secondary-50: 236 254 255; /* ⬅ #ecfeff */
	--color-secondary-100: 207 250 254; /* ⬅ #cffafe */
	--color-secondary-200: 165 243 252; /* ⬅ #a5f3fc */
	--color-secondary-300: 103 232 249; /* ⬅ #67e8f9 */
	--color-secondary-400: 34 211 238; /* ⬅ #22d3ee */
	--color-secondary-500: 6 182 212; /* ⬅ #06b6d4 */
	--color-secondary-600: 8 145 178; /* ⬅ #0891b2 */
	--color-secondary-700: 14 116 144; /* ⬅ #0e7490 */
	--color-secondary-800: 21 94 117; /* ⬅ #155e75 */
	--color-secondary-900: 22 78 99; /* ⬅ #164e63 */
	/* tertiary | #a855f7 */
	--color-tertiary-50: 250 245 255; /* ⬅ #faf5ff */
	--color-tertiary-100: 243 232 255; /* ⬅ #f3e8ff */
	--color-tertiary-200: 233 213 255; /* ⬅ #e9d5ff */
	--color-tertiary-300: 216 180 254; /* ⬅ #d8b4fe */
	--color-tertiary-400: 192 132 252; /* ⬅ #c084fc */
	--color-tertiary-500: 168 85 247; /* ⬅ #a855f7 */
	--color-tertiary-600: 147 51 234; /* ⬅ #9333ea */
	--color-tertiary-700: 126 34 206; /* ⬅ #7e22ce */
	--color-tertiary-800: 107 33 168; /* ⬅ #6b21a8 */
	--color-tertiary-900: 88 28 135; /* ⬅ #581c87 */
	/* success | #84cc16 */
	--color-success-50: 237 247 220; /* ⬅ #edf7dc */
	--color-success-100: 230 245 208; /* ⬅ #e6f5d0 */
	--color-success-200: 224 242 197; /* ⬅ #e0f2c5 */
	--color-success-300: 206 235 162; /* ⬅ #ceeba2 */
	--color-success-400: 169 219 92; /* ⬅ #a9db5c */
	--color-success-500: 132 204 22; /* ⬅ #84cc16 */
	--color-success-600: 119 184 20; /* ⬅ #77b814 */
	--color-success-700: 99 153 17; /* ⬅ #639911 */
	--color-success-800: 79 122 13; /* ⬅ #4f7a0d */
	--color-success-900: 65 100 11; /* ⬅ #41640b */
	/* warning | #ffc824 */
	--color-warning-50: 255 247 222; /* ⬅ #fff7de */
	--color-warning-100: 255 244 211; /* ⬅ #fff4d3 */
	--color-warning-200: 255 241 200; /* ⬅ #fff1c8 */
	--color-warning-300: 255 233 167; /* ⬅ #ffe9a7 */
	--color-warning-400: 255 217 102; /* ⬅ #ffd966 */
	--color-warning-500: 255 200 36; /* ⬅ #ffc824 */
	--color-warning-600: 230 180 32; /* ⬅ #e6b420 */
	--color-warning-700: 191 150 27; /* ⬅ #bf961b */
	--color-warning-800: 153 120 22; /* ⬅ #997816 */
	--color-warning-900: 125 98 18; /* ⬅ #7d6212 */
	/* error | #d21919 */
	--color-error-50: 248 221 221; /* ⬅ #f8dddd */
	--color-error-100: 246 209 209; /* ⬅ #f6d1d1 */
	--color-error-200: 244 198 198; /* ⬅ #f4c6c6 */
	--color-error-300: 237 163 163; /* ⬅ #eda3a3 */
	--color-error-400: 224 94 94; /* ⬅ #e05e5e */
	--color-error-500: 210 25 25; /* ⬅ #d21919 */
	--color-error-600: 189 23 23; /* ⬅ #bd1717 */
	--color-error-700: 158 19 19; /* ⬅ #9e1313 */
	--color-error-800: 126 15 15; /* ⬅ #7e0f0f */
	--color-error-900: 103 12 12; /* ⬅ #670c0c */
	/* surface | #64748b */
	--color-surface-50: 248 250 252; /* ⬅ #f8fafc */
	--color-surface-100: 241 245 249; /* ⬅ #f1f5f9 */
	--color-surface-200: 226 232 240; /* ⬅ #e2e8f0 */
	--color-surface-300: 203 213 225; /* ⬅ #cbd5e1 */
	--color-surface-400: 148 163 184; /* ⬅ #94a3b8 */
	--color-surface-500: 100 116 139; /* ⬅ #64748b */
	--color-surface-600: 71 85 105; /* ⬅ #475569 */
	--color-surface-700: 51 65 85; /* ⬅ #334155 */
	--color-surface-800: 30 41 59; /* ⬅ #1e293b */
	--color-surface-900: 15 23 42; /* ⬅ #0f172a */
}
