---
import { ViewTransitions } from "astro:transitions";
import "@styles/app.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="The portfolio of Chris Simmons. Developer, designer, UX, and more."
    />
    <meta
      name="keywords"
      content="game, game dev, game design, game interface, rpg, mobile, web, design, development, html5, responsive, css, portfolio, trends, standards, photoshop, graphic design, seo, search engine optomization, svelte, sveltekit, react, tailwind, shopify, pixi"
    />
    <meta name="theme-color" content="#00AF98" />
    <link rel="icon" type="image/png+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Endigo Design | The Portfolio of Chris Simmon</title>

    <!-- Astro View Transitions -->
    <!-- https://docs.astro.build/en/guides/view-transitions/ -->
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
